<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933637299929-658oo3jpqhud9bamr7sigmushv05cpvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933637299929-658oo3jpqhud9bamr7sigmushv05cpvu</string>
	<key>API_KEY</key>
	<string>AIzaSyArS-jx7mc2hMnZlj59R1x35tvy_phjJHw</string>
	<key>GCM_SENDER_ID</key>
	<string>933637299929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobuni.kazandirio</string>
	<key>PROJECT_ID</key>
	<string>kazandirio-mobuni</string>
	<key>STORAGE_BUCKET</key>
	<string>kazandirio-mobuni.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933637299929:ios:7e9e99aab42f320a79a8c8</string>
</dict>
</plist>